/* fonts */

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("ttf");
}

body {
  font-family: "Montserrat", sans-serif;
}

/***********************************/
/* general rules */

.large-mt {
  margin-top: 6rem;
}

.font-small {
  font-size: 0.8rem;
}

/***********************************/
/* header section */

#header-container {
  padding: 4rem 1rem;
}

.header-flex-container {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

#header-photo-wrapper {
  margin-left: auto;
}

header {
  background: linear-gradient(
    rgb(140, 140, 252) 0%,
    rgb(255, 252, 249) 90%,
    white 100%
  );
}

#header-photo {
  max-width: 15em;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.1);
}

/***********************************/
/* languages section */

#languages {
  /* background-color: #f3f0f9; */
  background: linear-gradient(
    #f3f0f9 0%,
    #f3f0f9 2%,
    white 2%,
    white 4%,
    #f3f0f9 4%,
    #f1f0f9 8%,
    white 8%,
    white 11%,
    #e7e7ff 11%,
    #e7e7ff 89%,
    white 89%,
    white 92%,
    #f3f0f9 92%,
    #f3f0f9 96%,
    white 96%,
    white 98%,
    #f3f0f9 98%,
    #f3f0f9 100%
  );
}

.lang-icon-container img {
  max-width: 3.5em;

  -webkit-filter: drop-shadow(1.2px 1.2px 1.2px #22222231);
  filter: drop-shadow(1.2px 1.2px 1.2px #22222231);
}

/***********************************/
/* projects section */

.card {
  -webkit-box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.1);
}

.card-img-link {
  position: relative;
  overflow: hidden;
}

.dark-overlay {
  left: -30rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-link:hover > .dark-overlay {
  transition: 0.3s ease-in;
  left: 0;
  z-index: 9;
  background-color: #b7b7fd;
  opacity: 60%;
}

.overlay-text {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  opacity: 0;
}

.overlay-text > a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 0.7rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.2rem;
}

.overlay-text > a:hover {
  color: #b7b7fd;
}

.card-img-link:hover > .overlay-text {
  opacity: 1;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  transition-delay: 0.2s;
}

.project-icon-container img {
  max-width: 1.5em;
  filter: invert(53%) sepia(49%) saturate(555%) hue-rotate(202deg)
    brightness(110%) contrast(98%) drop-shadow(1px 1px 1px #2222221f);
}

/***********************************/
/* footer section */

footer {
  position: relative;
  margin-top: 13rem;
}

#footer-bg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  top: -10rem;
  background: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgb(230, 230, 255) 30%,
    rgb(140, 140, 252) 100%
  );
}

footer p {
  color: rgba(0, 0, 0, 0.65);
}

footer a {
  margin-left: 0.5rem;
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  color: inherit;
}

.hover-grey:hover {
  color: rgb(54, 54, 54);
}

/***********************************/
/* media queries */

@media only screen and (max-width: 590px) {
  .header-flex-container {
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }

  #header-photo-wrapper {
    margin-left: 0;
  }

  .c-text-center {
    text-align: center;
  }
}

@media only screen and (min-width: 591px) and (max-width: 638px) {
  #header-photo {
    max-width: 11em;
  }
}

@media only screen and (min-width: 638px) and (max-width: 826px) {
  #header-photo {
    max-width: 13em;
  }
  /* 
  .header-flex-container {
    justify-content: space-around;
  } */
}

#header-container {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 590px) {
  #header-container {
    padding: 5rem 2rem;
  }
}

@media only screen and (min-width: 674px) {
  #header-container {
    padding: 5rem 4rem;
  }
}

@media only screen and (min-width: 780px) {
  #header-container {
    padding: 5rem 5rem;
  }
}

@media only screen and (min-width: 870px) {
  #header-container {
    padding: 5rem 6rem;
    max-width: 840px;
  }
}

@media only screen and (min-width: 1000px) {
  #header-container {
    max-width: 1100px;
  }
}

@media only screen and (min-width: 1400px) {
  #header-container {
    max-width: 1320px;
  }
}

/***********************************/
/* text animation */

.name-container {
  font-family: "Montserrat", sans-serif;
  display: inline-grid;
  font-weight: bolder;
  max-width: fit-content;
}

#name-container-cyrillic {
  grid-column: 1;
  grid-row: 1;
  max-width: fit-content;
  white-space: nowrap;
}

#name-container-latin {
  grid-column: 1;
  grid-row: 1;
  max-width: fit-content;
  white-space: nowrap;
}

.name-container-comma {
  /*grid-column: 1;
  grid-row: 1;
  max-width: fit-content;
  margin-left: 19rem;
  opacity: 0;*/
  font-weight: normal;
  position: absolute;
}

#name-container-latin > span {
  opacity: 0;
}

#name-container-latin > span:nth-child(n + 5) {
  letter-spacing: 0.3rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animFadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animFadeOut {
  animation: fadeOut 0.5s forwards;
}
@keyframes squeeze {
  0% {
    letter-spacing: 0.3rem;
  }

  100% {
    letter-spacing: 0rem;
  }
}

.animSqueeze {
  animation: squeeze 0.6s forwards;
}

#name-container-webdev {
  opacity: 0;
}

.posAbsolute {
  position: absolute;
}
